#logo_shift{
padding-left: 5rem;
}
#navbar_right_shift{
padding-right: 5rem
}
.blod700{
font-weight: 700;
}
.round_bton{
border-radius: 50px;
}
.homepage_discription_text{color: #CBCBCB;}
.color_scss_99cccc{
background-color: #99CCCC;
border-color: #99CCCC;
}
