#logo_shift{
padding-left: 5rem;
}
#navbar_right_shift{
padding-right: 5rem
}
.blod700{
font-weight: 700;
}
.round_bton{
border-radius: 50px;
}
.homepage_discription_text{color: #CBCBCB;}
.color_scss_99cccc{
background-color: #99CCCC;
border-color: #99CCCC;
}
.swiper-container {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }